* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

  html{
    scroll-behavior: smooth;
  }


  

  .nav_links {
    list-style: none;
    margin-right: 215px;
    margin-top: 0px;
  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px 30px;
  }
  
  .nav_links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: grey;
    cursor: pointer;
    text-decoration-line: underline;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 7%;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: #fffef6;
  }

  li,a {
  font-family: Surt-LightExtended;
  font-weight: 200;
  font-style: normal;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}
  
  .winter-banner {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    background-color: #80a4d8;
    justify-content: center;
    padding-top: 8px;
    font-family: Surt-LightExtended;
    font-size: 12px;
  }
  
  .dk {
    left: 20px;
    position: absolute;
  }
  
  .shipping {
    position: absolute;
  }
  
  .login {
    right: 20px;
    position: absolute;
  }

  .logo {
    cursor: pointer;
    max-width: 22vw;
    margin-top: 0px;
  }



body{
    background-color: #fffef6;
}  










.scroll-left {
 height: 100px;	
 overflow: hidden;
 position: relative;
 color: #F27A5E;
 margin-bottom: 1%;
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 90px;
 text-align: center;
 font-family: Glitten;
 font-size:44px;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}


.aw{
  display: flex;
justify-content: space-between;
margin-bottom: 50px;

}


.autumn{
  font-size: 100px;
  font-family: glitten;
  color: #2D2D2D;
}

.awtext{
  margin-right: 7%;
  margin-top: 3%;
}


.awimg{
  margin-left: 7%;
}

.shopfull{
  font-size: 40px;
}

.arrow{
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-top: 7%;
}

.arrow p{
  font-size: 20px;
  margin-left: 6%;
  font-family: Surt-LightExtended;
  

}

.arrow img{
  width: 5%;
}




  .landingproducts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 10px;
   margin-left: 5%;
   margin-right: 5%;
  }
  .hairclaw{
    width: 75%;
  
    
   
}


.seeproducts{
  font-size: 40px;
  font-family: glitten;
  margin-left: 7%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 8%;
  margin-bottom: 3%;
  
}

.filter{
  display: flex;
 margin-right: 7%;
 font-family: Surt-LightExtended;
 font-size: 20px;
 text-decoration: underline;
}

.collection{
  margin-right: 45px;
  display: flex;
  text-align: center;
}

.onesmallProduct{
    display: flex;
    text-align: center;
    
}

.pricebreadcrumbs{
  display: flex;
  justify-content: space-between;
  text-align:justify;
  margin-left: 40px;
  margin-right: 40px;
  
}

.price{
  font-size: 15px;
}

.productname{
  font-size: 15px;
}



  .gurisisters{
    display: flex;
    justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
  }

  .gurisisters img{
    width: 30%;
  }
  
  
  .sistertext{
    
    padding-right: 15%;
  }
  
.sistertext p{
  font-family: Surt-LightExtended;
  margin-top: 10%;
  line-height: 20px;
}

.sistertext h1{
  font-family: glitten;
  font-size: 48px;

}




.gurionthego{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 10px;
   margin-left: 7%;
   margin-right: 7%;
}

.gurionthegotext {
  font-size: 40px;
  margin-left: 7%;
  margin-bottom: 5%;
  font-family: glitten;
}

div.gallery {
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 10px;
  
}



div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  text-align: center;
}


footer{
  background-color: #F2B872;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: Surt-LightExtended;
}

.footercontent{
  display: flex;
  justify-content: space-around;
  color: white;
}


.shopall, .about{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.shopallp, .contactp, .aboutp, .socialmediap{
  margin-bottom: 20%;
  font-size: 20px;
}

.email{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-family: Surt-LightExtended;
  color: white;
}







@media screen and (max-width: 700px){

  .nav_links {
    list-style: none;
    margin-right: 10px;
    margin-top: 0px;
  }

  .nav_links li {
    display: inline-block;
    padding: 0px 10px;
  }
  

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 7%;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: #fffef6;
  }

  li,a {
    font-family: Surt-LightExtended;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    font-size: 10px;
    text-decoration: none;
  }


  .winter-banner {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    background-color: #80a4d8;
    justify-content: center;
    padding-top: 8px;
    font-family: Surt-LightExtended;
    font-size: 8px;
  }
  
  .dk {
    left: 10px;
    position: absolute;
  }
  
  .shipping {
    position: absolute;
  }
  
  .login {
    right: 10px;
    position: absolute;
  }

  .logo {
    cursor: pointer;
    max-width: 22vw;
    margin-top: 0px;
  }

  .scroll-left p{
    font-size: 15px;
    line-height: 50px;
  }


  .aw{
    display: none;
  justify-content: space-between;
  margin-bottom: 50px;
  
  }
  
  
  .autumn{
    font-size: 50px;
    font-family: glitten;
    color: #2D2D2D;
    margin-left: 6%;
  }


  

  .arrow p{
    font-size: 10px;
    margin-left: 6%;
    font-family: Surt-LightExtended;
    
  
  }

  .seeproducts{
    font-size: 20px;
    font-family: glitten;
    margin-left: 7%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 5%;
    
  }
  
  .filter{
    display: flex;
   margin-right: 7%;
   font-family: Surt-LightExtended;
   font-size: 10px;
   text-decoration: underline;
  }
  
  .collection{
    margin-right: 25px;
    display: flex;
    text-align: center;
  }

  .hairclaw{
    width: 85%;
}

.landingproducts{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 grid-gap: 10px;
 margin-left: 5%;
 margin-right: 5%;
}


.gurisisters{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 11%;
  margin-right: 7%;
  margin-top: 5%;
  }

  .gurisisters img{
    width: 350px;
    margin-top: 4%;
    
  }
  
  
 
  
.sistertext p{
  font-family: Surt-LightExtended;
  margin-top: 10%;
  line-height: 20px;
  font-size: 15px;
  width: 350px;
}

.sistertext h1{
  font-family: glitten;
  font-size: 28px;

}

.gurionthego{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-gap: 10px;
   margin-left: 7%;
   margin-right: 7%;
}


.gurionthegotext {
  font-size: 30px;
  margin-left: 7%;
  margin-bottom: 5%;
  font-family: glitten;
}






}
 



