* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a {
  font-family: presicav, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  max-width: 22vw;
  margin-top: 0px;
}

.logo:hover {
  animation-name: bounce2;
  animation-duration: 0.8s;
}

.nav_links {
  list-style: none;
  margin-right: 120px;
  margin-top: 0px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 30px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  transition: all 0.3s ease 0s;
  color: grey;
  cursor: pointer;
  text-decoration-line: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 10%;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: #fffef6;
}

.winter-banner {
  display: flex;
  justify-content: flex-start;
  height: 30px;
  background-color: #80a4d8;
  justify-content: center;
  padding-top: 8px;
  font-family: Surt-LightExtended;
  font-size: 12px;
}

.dk {
  left: 20px;
  position: absolute;
}

.shipping {
  position: absolute;
}

.login {
  right: 20px;
  position: absolute;
}

.breadcrumbs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "bread";
}

.bread {
  grid-area: bread;
  padding: 15px 10%;
}

.bread p {
  color: #f27a5e;
}

.bread a {
  display: inline-block;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffef6;
}

h1 {
  font-family: glitten;
  color: #2d2d2d;
}

p {
  font-style: normal;
  color: #2d2d2d;
}

h2 {
  font-family: glitten;
  color: #2d2d2d;
}

/*product page */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vw;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-content: center;
  margin-bottom: 5vw;
  padding: 5vw;
  font-size: 20px;
}

.purchaseBox {
  grid-column: 1;
  margin-top: 1.3vw;
}

.purchaseBox h2 {
  font-size: 45px;
  font-weight: normal;
}

.information {
  margin-top: 2vw;
  margin-right: 2vw;
}

.info p {
  font-size: 12px;
}

.boxed {
  margin-top: 2vw;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid black;
}

.boxed p {
  font-size: 12px;
}

.details {
  margin-top: 2vw;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.delivery {
  padding: 20px 0px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.products a {
  text-decoration: none;
  color: black;
}

.products a:hover {
  color: #f27a5e;
}

.products .smallProduct {
  text-align: center;
  font-weight: 300;
  font-style: normal;
  margin-top: 10px;
}

.image {
  width: 60%;
  margin-top: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 5vw;
}
.productlist {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}
.fadeInLoad {
  animation: fadeInLoad 0.5s;
}

@keyframes fadeInLoad {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.image-list {
  display: flex;
}

li {
  margin: 0 0.1rem 0 0.1rem;
  flex-basis: 100%;
  list-style: none;
}
.image-list img {
  width: 100%;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.productimg {
  width: 100%;
}
